body {
    background-color: rgb(217, 221, 221);
}

form{
    font-size: 18px;
    padding: 20px;
    border-top: 5px solid;
    margin-top: 10px;
    padding-right: 30px;
    width: 500px;
    height: 300px;
    /* text-align: center ; */
}

h1 {
    color: rgb(4, 4, 4, 4);
    font-size: 30px;
}

#myform {
    text-align: center;
    color: white;
}



input[type="text"] {
    background-color: whitesmoke;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    color: white;
}

input[type="number"] {
    /* background-color: rgb(63, 5, 5); */
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    color: white;
    
}

input[type="password"] {
    text-align: center ;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
   
}

input[type="submit"] {
    background-color: white;
    border-color: black;
    border-radius: 4px;
    text-align: left;
    color: black;
    margin-right: 57px;
}

input[type="checkbox"] {
    color: black;
    text-align: left;
    margin-right: 10px;
    margin-left: -20px;
}

a, li a {
    text-decoration: none;;
    color: indianred;
    text-rendering: none ;
    background-color: #fff;
}

#myform>a:hover {
    color: white;
}
.log-in{
    margin-left: 300px;
}
.password{
    background-color: wheat;
}

header {
    /* background-image: url('../images/meat.jpeg'); */
    background-repeat: no-repeat;
    background-color: #9D2933;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.3);
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;;
}
.log{
    padding-left: 10px;
    padding-right: 10px;
}